.parentMap
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
	float: left;
    width: 28%;
    height: 580px;
	position: relative;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: .6px;
    border-style: solid;
    border-color: darkgrey;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}



.top
{
    background-color: white;
    height: 60px;
    position: relative;
    border-bottom-width: .6px;
    border-style: solid;
    border-color: darkgrey;
}

